{% extends "stock_labo_base.html" %}

{% block title %}{{ header.page }}{% endblock %}

{% block link %}
{% endblock link %}

{% block header %}
	{% include "stock_labo_head.html" %}
{% endblock header %}
{% block onglet %}
	{% include "stock_labo_onglet.html" %}
{% endblock onglet %}


{% block corps %}
	<form action="/django/stock_labo/nomenclature_lot_edit/" method="get">
		{% if nomenclature_d != None %}
			<p class="info">Article : {{ nomenclature_d }}</p>
		{% endif %}
		<table align="center">
			<tbody>
				{% include "stock_labo_form_as_table.html" with form=form formulaire_text="formulaire_edit_text" formulaire_champ="formulaire_edit_champ" %}
				<tr>
					<td class="formulaire_text">
						<input class="formulaire_input" type="submit"  name="annuler" value="Annuler" />
						<input class="formulaire_input" type="submit"  name="supprimer" value="Supprimer" />
					</td>
					<td class="formulaire_champ">
						<input class="formulaire_input" type="submit"  name="valider" value="Valider" />
						<input class="formulaire_input" type="submit"  name="dupliquer" value="Dupliquer" />
						{% if print_id != None %}
							<a class="formulaire_input" id="bonton_print_etiquette_{{ print_id }}" onclick="etiquette(this, {{ print_id }}, 'nomenclature_lot')" style="vertical-align: bottom;" title="Etiquette" ><img src="/static/svg/document-print.svg" height="24" alt="Etiquette"/></a>
						{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</form>
{% endblock corps%}

