{% extends "stock_labo_base.html" %}

{% block title %}{{ header.page }}{% endblock %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="/static/css/stock_labo_recherche_liste.css" />
{% endblock link %}

{% block header %}
	{% include "stock_labo_head.html" %}
{% endblock header %}
{% block onglet %}
	{% include "stock_labo_onglet.html" %}
{% endblock onglet %}


{% block corps %}
	<form class="recherche" action="/django/stock_labo/recherche/" method="get">
		<table style="width:100%;">
			<tbody style="width:100%;">
				<tr style="width:100%;">
					<td class="recherche_champ">
						<p class="recherche_champ">
							{{ recherche.unite_stock }}
							<label> - </label>
							{{ recherche.code }}
							<label> - </label>
							{{ recherche.description }}
							<label> - </label>
							{{ recherche.lot }}
							<label> - </label>
							{{ recherche.type_nomenclature }}
							<br/>
							{{ recherche.date_du }}
							<label> - </label>
							{{ recherche.date_au }}
							<label> - </label>
							{{ recherche.collection.label }}{{ recherche.collection }}
							<label> - </label>
							{{ recherche.sup.label }}{{ recherche.sup }}
						</p>
					</td>
					<td class="recherche_champ" style="width:300px">
						<p class="recherche_champ">
							<input type="submit"  style="font-size: 100%" name="recherche_stock" value="Recherche stocks" title="Exécuter la recherche dans son stock perso et dans le stock commun" />
							<input type="submit"  style="font-size: 100%" name="suivant_stock" value="Res. suivant" title="Afficher les résultats suivants"/>
						</p>
						<p class="recherche_champ">
							<input type="submit"  style="font-size: 100%" name="recherche_global" value="Recherche global" title="Exécuter la recherche dans tout les contenants" />
							<input type="submit"  style="font-size: 100%" name="suivant_global" value="Res. suivant" title="Afficher les résultats suivants"/>
						</p>
						<p class="recherche_champ">
							<input type="submit"  style="font-size: 100%" name="recherche_flash" value="Recherche point éclair" title="Recherche point éclair" />
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		{% csrf_token %}
		{% if list.p == 1 %}
			<div class="list">
				<table class="list_table" summary="{{ list.summary }}">
					<caption class="list_table_caption" >{{ list.caption }}</caption>
					<thead class="list_thead">
						{% for ligne in list.headers %}
							<tr class="list_thead_tr">
								{% for h in ligne.cellules %}
									<th class="list_thead_th"
										{% if h.title != None %}title="{{ h.title }}"{% endif %}
										{% if h.width != None %}width="{{ h.width }}"{% endif %}
										{% if h.cellule_id != None %}id="{{ h.cellule_id }}"{% endif %}
										{% if h.onclick != None %}onclick="{{ h.onclick }}"{% endif %}
									>
										{% if h.href != None %}<a href="{{ h.href }}">{% endif %}{% autoescape off %}{{ h.label }}{% endautoescape %}{% if h.href != None %}</a>{% endif %}
									</th>
								{% endfor %}
							</tr>
						{% endfor %}
					</thead>
					<tbody class="list_body">
						{% for ligne in list.liste %}
							{% if ligne.paire == 1 %}
								<tr class="list_body_tr_i">
									{% for c in ligne.cellules %}
										<td class="list_body_td"
											{% if c.title != None %}title="{{ c.title }}"{% endif %}
											{% if c.width != None %}width="{{ c.width }}"{% endif %}
											{% if c.cellule_id != None %}id="{{ c.cellule_id }}"{% endif %}
											{% if c.onclick != None %}onclick="{{ c.onclick }}"{% endif %}
										>
											{% if c.href != None %}<a href="{{ c.href }}">{% endif %}{% autoescape off %}{{ c.label }}{% endautoescape %}{% if c.href != None %}</a>{% endif %}
										</td>
									{% endfor %}
								</tr>
							{% else %}
								<tr class="list_body_tr_p">
									{% for c in ligne.cellules %}
										<td class="list_body_td"
											{% if c.title != None %}title="{{ c.title }}"{% endif %}
											{% if c.width != None %}width="{{ c.width }}"{% endif %}
											{% if c.cellule_id != None %}id="{{ c.cellule_id }}"{% endif %}
											{% if c.onclick != None %}onclick="{{ c.onclick }}"{% endif %}
										>
											{% if c.href != None %}<a href="{{ c.href }}">{% endif %}{% autoescape off %}{{ c.label }}{% endautoescape %}{% if c.href != None %}</a>{% endif %}
										</td>
									{% endfor %}
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="list_p">
				<label title="nombre de ligne afficher / nombre de résultat de recherche / nombre total">{{ recherche.limit_du.label }}{{ recherche.limit_du }}<label> - </label>{{ recherche.limit_au.label }}{{ recherche.limit_au }}<label> : </label>{{ list.n_ligne_limit }} de {{ list.n_ligne_affiche }} sur {{ list.n_ligne_total }}</label>
			</div>
		{% endif %}
	</form>
	{% if info.info != None %}
		<p class="info">{% autoescape off %}{{ info.info }}{% endautoescape %}</p>
	{% endif %}
	{% if info.erreur != None %}
		<p class="erreur">{% autoescape off %}{{ info.erreur }}{% endautoescape %}</p>
	{% endif %}
{% endblock corps%}

