{% extends "stock_labo_base.html" %}

{% block title %}{{ header.page }}{% endblock %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="/static/css/stock_labo_base_bouton.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/stock_labo_nomenclature_liste.css" />
{% endblock link %}

{% block header %}
	{% include "stock_labo_head.html" %}
{% endblock header %}
{% block onglet %}
	{% include "stock_labo_onglet.html" %}
{% endblock onglet %}


{% block corps %}
	<div class="list_global">
		<div class="list">
			<table class="list_table" summary="{{ list.summary }}">
				<caption class="list_table_caption" >{{ list.caption }}</caption>
				<thead class="list_thead">
					{% for ligne in list.headers %}
						<tr class="list_thead_tr">
							{% for h in ligne.cellules %}
								<th class="list_thead_th" title="{{ h.title }}" {% if h.width != None %}width="{{ h.width }}"{% endif %}>{% if h.href != None %}<a href="{{ h.href }}">{% endif %}{% autoescape off %}{{ h.label }}{% endautoescape %}{% if h.href != None %}</a>{% endif %}</th>
							{% endfor %}
						</tr>
					{% endfor %}
				</thead>
				<tbody class="list_body">
					{% for ligne in list.liste %}
						{% if ligne.paire == 1 %}
							<tr class="list_body_tr_i">
								{% for c in ligne.cellules %}
									<td class="list_body_td" title="{{ c.title }}">{% if c.href != None %}<a href="{{ c.href }}">{% endif %}{% autoescape off %}{{ c.label }}{% endautoescape %}{% if c.href != None %}</a>{% endif %}</td>
								{% endfor %}
							</tr>
						{% else %}
							<tr class="list_body_tr_p">
								{% for c in ligne.cellules %}
									<td class="list_body_td" title="{{ c.title }}">{% if c.href != None %}<a href="{{ c.href }}">{% endif %}{% autoescape off %}{{ c.label }}{% endautoescape %}{% if c.href != None %}</a>{% endif %}</td>
								{% endfor %}
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="list_p">
			<label title="nombre de ligne afficher">{{ list.n_ligne_total }}</label>
		</div>
	</div>
	<div class="bouton-right">
		{% for b in bouton.liste %}
			<center><a class="bouton_action" title="{{ b.title }}" href="{{ b.href }}">{% autoescape off %}{{ b.label }}{% endautoescape %}</a></center>
		{% endfor %}
	</div>
{% endblock corps%}

