
.recherche
{
	width: 100%;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	border-width: 0px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
}

.recherche_champ
{
	font-size: 80%;
	margin: 0px;
	padding: 0px;
	line-height: 250%;
	border-width: 0px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
}

.recherche_bouton
{
	min-width: 80px;
	width: 20%;
	font-size: 80%;
	margin: 0px;
	padding: 0px;
	line-height: 250%;
	border-width: 0px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
}

.list1_p
{
	font-size: 85%;
	color: grey;
	text-align: right;
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
	border-width: 0px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
}

.list_global
{
	vertical-align: top;
	display: inline-block;
	width: 85%;
	margin: 0px;
	padding: 2px;
	border-color: black;
	border-width: 0px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	overflow: visible ; /*limite la taille et ajoute un assenceur */
}

.list1
{
	max-height: 20vh;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border-color: black;
	border-width: 2px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	overflow: scroll ; /*limite la taille et ajoute un assenceur */
	border-collapse: collapse;
}

.list1_table
{
	width: 100%;
	border-color: black;
	border-width: 0px;
	border-right-width: 2px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
}

.list1_table_caption
{
	line-height: 150%;
	border-color: black;
	border-width: 0px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
}

.list1_thead
{

}

.list1_thead_tr
{
	border-color: black;
	border-width: 0px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
}

.list1_thead_th
{
	border-color: black;
	border-width: 0px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
	background-color: rgba(0, 0, 0, 0.3);
}

.list1_body
{

}

.list1_body_tr_i
{
	border-color: black;
	border-width: 1px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
	background-color: rgba(255, 0, 255, 0.2);
}
.list1_body_tr_i:hover
{
	background-color: rgba(255, 0, 255, 0.3);
}
.list1_body_tr_p
{
	border-color: black;
	border-width: 1px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
	background-color: rgba(0, 200, 255, 0.2);
}
.list1_body_tr_p:hover
{
	background-color: rgba(0, 200, 255, 0.5);
}

.list1_body_td
{
	border-color: black;
	border-width: 1px;
	border-style: dashed; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
}


