
.list3
{
	max-height: 20vh;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	border-color: black;
	border-width: 2px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	overflow: scroll ; /*limite la taille et ajoute un assenceur */
	border-collapse: collapse;
}

.list3_table
{
	width: 100%;
	border-color: black;
	border-width: 0px;
	border-right-width: 2px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
}

.list3_table_caption
{
	line-height: 150%;
	border-color: black;
	border-width: 0px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
}

.list3_thead
{

}

.list3_thead_tr
{
	border-color: black;
	border-width: 0px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
}

.list3_thead_th
{
	border-color: black;
	border-width: 0px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
	background-color: rgba(0, 0, 0, 0.3);
}

.list3_body
{

}


.list3_body_tr_i
{
	border-color: black;
	border-width: 1px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
	background-color: rgba(255, 0, 255, 0.2);
}
.list3_body_tr_i:hover
{
	background-color: rgba(255, 0, 255, 0.3);
}
.list3_body_tr_p
{
	border-color: black;
	border-width: 1px;
	border-style: solid; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
	background-color: rgba(0, 200, 255, 0.2);
}
.list3_body_tr_p:hover
{
	background-color: rgba(0, 200, 255, 0.5);
}

.list3_body_td
{
	border-color: black;
	border-width: 1px;
	border-style: dashed; /* solid double groove outset dotted dashed inset ridge */
	border-collapse: collapse;
}





