{% extends "stock_labo_base.html" %}

{% block title %}Password{% endblock title%}

{% block link %}
	<link rel="stylesheet" type="text/css" href="/static/css/stock_labo_base.css" />
{% endblock link %}


{% block header %}
	<div  class="header_pistolet">
		<p>
			<label>Changer de mot de pass</label>
		</p>
	</div>
{% endblock header%}

{% block corps %}
	<div  class="page_pistolet">
		<form action="/django/utilisateur/password" method="get">
			{% csrf_token %}
			{{ user_password_change_form.as_p }}
			<p>
				<input type="submit"  name="ok" value="Ok" />
				<input type="submit"  name="annuler" value="Annuler" />
			</p>
		</form>

		{% if user.username != "" %}
			<p id="user">
				<label>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})  ;  Email : {{ user.email }}</label>
			</p>
		{% endif %}
	</div>
{% endblock corps %}





